@import "../../styles/variables.scss";

.projects-page {
   text-align: center;
   width: 80%;

   @media (max-width: 790px) {
      height: 100svh;
      margin-top: 30px;
   }

   @media (max-width: 500px) {
      height: 86svh;
      width: 90%;
   }

   .text-zone {
      max-width: 800px;
      margin: 0 auto;
      padding: 0 20px;

      h1 {
         font-size: 5.3rem;
         font-family: $coolvetica-font;
         color: $primary-color;
         font-weight: 400;
         position: relative;
         margin-bottom: 60px;
         user-select: none;

         @media (max-width: 500px) {
            font-size: 4.3rem;
         }

         @media (max-width: 400px) {
            margin-bottom: 20px;
         }

         &::before {
            content: "<h1>";
            font-family: $beaty-font;
            font-size: 4.4rem;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0px;
            opacity: 0.6;
         }

         &::after {
            content: "</h1>";
            font-family: $beaty-font;
            font-size: 4.4rem;
            line-height: 18px;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            opacity: 0.6;
         }
      }
   }
   .text-animate-hover {
      &:hover {
         color: #fff;
      }
   }

   .projects {
      margin: 0 auto;
      max-width: 1200px;
      padding: 0 20px;

      @media (max-width: 790px) {
         padding: 0 20px 40px;
      }
      @media (max-width: 400px) {
         padding: 0 0 40px;
      }

      ul {
         display: none;

         @media (max-width: 790px) {
            display: flex;
            flex-direction: column;
            gap: 30px;
         }
      }

      .project {
         display: flex;
         flex-direction: column-reverse;
         background-color: $light-color;
         position: relative;
         border-radius: 20px;
         gap: 20px;

         @media (max-width: 790px) {
            gap: 0;
            border: 5px solid $light-color;
         }

         img {
            filter: brightness(0.7);

            @media (max-width: 790px) {
               filter: none;
               border-bottom-left-radius: 20px;
               border-bottom-right-radius: 20px;
            }
         }

         &__info {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            flex-direction: column;
            color: $white-color;
            background-color: $dark-color;
            font-family: $ubuntu-font;
            will-change: transform;
            padding: 20px 40px;
            border-radius: 20px;
            gap: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);

            @media (max-width: 790px) {
               position: static;
               transform: none;
               background-color: transparent;
               box-shadow: none;
               border-radius: 0;
               gap: 0;
            }

            @media (max-width: 400px) {
               padding: 20px;
            }
         }

         &__title {
            font-size: 3.2rem;
            font-weight: 600;
         }

         &__topics {
            font-size: 2rem;
            margin-bottom: 20px;
         }

         &__link {
            background-color: $white-color;
            padding: 10px 30px;
            align-self: center;
            font-size: 2.2rem;
            border-radius: 20px;
            color: $dark-color;
            transition: background-color 0.3s;

            &:hover {
               background-color: $primary-color;
            }
            &:active {
               box-shadow: 0 0 5px rgba(0, 0, 0, 0.8) inset;
            }
         }
      }
   }

   .swiper {
      @media (max-width: 790px) {
         display: none;
      }
   }

   .swiper-button-prev,
   .swiper-button-next {
      color: $primary-color;
   }

   .swiper-pagination-progressbar-fill {
      background-color: $primary-color;
   }
}
