$primary-color: rgb(233, 33, 255);
$dark-color: #261832;
$light-color: #7c479d;
$white-color: #faf4ff;
$black-color: #1a101e;

$beaty-font: 'Dynalight';
$ubuntu-font: 'Ubuntu', sans-serif;
$coolvetica-font: 'Coolvetica';