@import "../../styles/variables.scss";

.home-page {
   text-align: center;

   @media (max-width: 1000px) {
      width: 90%;
   }

   .text-zone {
      max-width: 480px;
      margin: 0 auto;
   }

   h1 {
      color: $white-color;
      font-size: 6.3rem;
      font-family: $coolvetica-font;
      user-select: none;
      position: relative;

      @media (max-width: 1000px) {
         display: block;
      }

      @media (max-width: 500px) {
         font-size: 5.3rem;
      }

      &::before {
         content: "<h1>";
         font-family: $beaty-font;
         color: $primary-color;
         font-size: 4.4rem;
         position: absolute;
         left: 0;
         top: -10px;
         transform: translateY(50%);
         opacity: 0.6;

         @media (max-width: 600px) {
            left: 30px;
         }
         @media (max-width: 400px) {
            left: 0;
         }
      }

      &::after {
         content: "</h1>";
         font-family: $beaty-font;
         color: $primary-color;
         font-size: 4.4rem;
         position: absolute;
         transform: translateY(50%);
         opacity: 0.6;

         @media (max-width: 400px) {
            position: static;
         }
      }

      .big-letter {
         font-family: $beaty-font;
         margin-left: 20px;
         color: $primary-color;
         font-size: 8rem;
         font-weight: 600;
      }
   }

   h2 {
      color: $light-color;
      margin: 20px 0 50px;
      font-weight: 400;
      font-size: 1.6rem;
      font-family: $ubuntu-font;
      letter-spacing: 2.5px;
      animation: fadeIn 1s 1.8s backwards;

      @media (max-width: 400px) {
         letter-spacing: 1px;
      }
   }

   .flat-button {
      display: inline-block;
      color: $primary-color;
      border: 5px solid $primary-color;
      border-radius: 15px;
      padding: 15px 25px;
      font-size: 2.4rem;
      font-family: $ubuntu-font;
      letter-spacing: 3px;
      font-weight: bold;
      filter: drop-shadow(0 0 1px $primary-color) drop-shadow(0 0 20px $primary-color) contrast(1.2) brightness(1.2);
      transition: 0.5s;
      white-space: nowrap;

      @media (hover: hover) and (pointer: fine) {
         &:hover {
            color: $dark-color;
            background-color: $primary-color;
            filter: drop-shadow(0 0 5px $primary-color) contrast(1.5) brightness(1.5);
         }
      }

      &:active {
         border: 5px solid $light-color;
         background-color: $light-color;
      }
   }
}
