@import "../../styles/variables.scss";

.contact-page {
   text-align: center;
   overflow: hidden;

   @media (max-width: 800px) {
      width: 65%;
   }

   @media (max-width: 700px) {
      width: 70%;
   }

   @media (max-width: 500px) {
      width: 85%;
      height: 76svh;
   }

   .text-zone {
      max-width: 800px;
      margin: 0 auto;

      .contact-form {
         width: 100%;
         margin-top: 30px;

         ul {
            li {
               margin-bottom: 10px;
               opacity: 0;
               overflow: hidden;
               display: block;
               clear: both;
               animation: fadeInUp 2s 2s;
               animation-fill-mode: forwards;
            }

            li.half {
               width: 49.5%;
               margin-left: 1%;
               float: left;
               clear: none;

               &:first-child {
                  margin-left: 0;
               }
            }
         }

         input[type="text"],
         input[type="email"] {
            width: 100%;
            border-bottom: 3px solid $light-color;
            background: transparent;
            height: 50px;
            font-size: 2rem;
            color: #fff;
            padding: 0 20px;
            box-sizing: border-box;

            @media (max-width: 400px) {
               padding: 0 10px;
            }

            &:focus {
               border-bottom: 3px solid $white-color;
            }

            &::placeholder {
               color: #7c479db0;
            }
         }

         textarea {
            outline: none;
            width: 100%;
            border-bottom: 3px solid $light-color;
            background: transparent;
            height: 50px;
            font-size: 2rem;
            color: #fff;
            padding: 20px;
            min-height: 150px;
            resize: none;

            @media (max-width: 500px) {
               min-height: 100px;
            }


            @media (max-width: 400px) {
               padding: 0 10px;
            }

            &:focus {
               border-bottom: 3px solid $white-color;
            }

            &::placeholder {
               color: #7c479db0;
            }
         }

         .flat-button {
            display: inline-block;
            color: $primary-color;
            border: 5px solid $primary-color;
            border-radius: 15px;
            padding: 15px 50px;
            font-size: 2.4rem;
            font-family: $ubuntu-font;
            letter-spacing: 3px;
            font-weight: bold;
            filter: drop-shadow(0 0 1px $primary-color) drop-shadow(0 0 20px $primary-color) contrast(1.2)
               brightness(1.2);
            transition: 0.5s;
            white-space: nowrap;
            margin-top: 40px;

            @media (max-width: 500px) {
               margin-top: 25px;
            }

            &:hover {
               color: $dark-color;
               background-color: $primary-color;
               filter: drop-shadow(0 0 5px $primary-color) contrast(1.5) brightness(1.5);
            }

            &:active {
               border: 5px solid $light-color;
               background-color: $light-color;
            }
         }
      }
   }

   .loader-active {
      animation: none;
   }
}

.swal2-container {
   font-family: $ubuntu-font !important;

   .swal2-popup {
      background-color: $dark-color;
      color: $white-color;
      font-size: 1.6rem;
      letter-spacing: 1.5px;
   }

   .swal2-title {
      font-weight: 400 !important;
   }

   .swal2-success-circular-line-left,
   .swal2-success-circular-line-right,
   .swal2-success-fix {
      background-color: transparent !important;
   }

   .swal2-default-outline:focus {
      outline: none;
   }

   .swal2-confirm {
      font-size: 2.6rem;
      padding: 15px 35px;
   }
}
