@import "../../styles/variables.scss";

.nav-bar {
   background-color: $black-color;
   width: 70px;
   height: 100svh;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   padding: 10px 20px 20px;
   min-height: 500px;

   .logo {
      & span {
         color: $primary-color;
         font-weight: 500;
         font-size: 8rem;
         font-family: $beaty-font;
         filter: drop-shadow(0 0 5px $primary-color) drop-shadow(0 0 50px $primary-color) contrast(1.2) brightness(1.2);
         animation: text-shadow-drop-center 2.5s alternate-reverse infinite;
      }
   }

   nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 25px;

      a {
         font-size: 2.2rem;
         position: relative;
         text-decoration: none;

         i {
            transition: all 0.3s ease-out;
         }

         &:hover {
            color: $primary-color;

            svg {
               opacity: 0;
            }

            &:after {
               opacity: 1;
            }
         }

         &:after {
            content: "";
            font-size: 1rem;
            font-family: $ubuntu-font;
            font-weight: 700;
            letter-spacing: 0.5px;
            text-shadow: 0 0 8px $primary-color;
            position: absolute;
            transform: translate(-50%, 50%);
            bottom: 50%;
            left: 50%;
            display: block;
            opacity: 0;
            transition: all 0.3s ease-out;
         }

         &:first-child {
            &:after {
               content: "HOME";
            }
         }
      }

      a.about-link {
         &:after {
            content: "ABOUT";
         }
      }

      a.contact-link {
         &:after {
            content: "CONTACT";
         }
      }

      a.projects-link {
         &::after {
            content: "PROJECTS";
         }
      }

      a.active {
         svg {
            color: $primary-color;
         }
      }
   }

   ul {
      display: flex;
      flex-direction: column;

      li {
         a {
            padding: 10px 0;
            display: block;
            font-size: 1.8rem;
            line-height: 16px;

            svg {
               transition: all 0.2s ease-out;
            }

            &:hover svg {
               color: $primary-color;
            }
         }
      }
   }
}

@keyframes text-shadow-drop-center {
   0% {
      text-shadow: 0 0 0px $light-color;
   }
   100% {
      text-shadow: 0 0 5px $primary-color, 0 0px 15px $primary-color;
   }
}
